---
import "@fontsource/wix-madefor-display";
import { YandexMetrika } from "astro-ym";
import "./styles.css";
import { Seo } from "astro-seo-meta";

const title = "КодКрафт – Школа программирования";
const description =
  "Курсы по Python, C#, Scratch, web-разработке и гейм-разработке для детей и взрослых.";

const keywords = [
  "кодкрафт",
  "школа программирования",
  "курсы программирования",
  "Python",
  "JavaScript",
  "дети",
  "web-разработка",
  "робототехника"
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <Seo
      title={title}
      description={description}
      keywords={keywords}
      icon="/favicon.svg"
      robots="index, follow"
    />

    <!-- Яндекс.Вебмастер -->
    <meta name="yandex-verification" content="ef5c375d86ba34a4" />

    <!-- Яндекс.Метрика -->
    {
      import.meta.env.PROD && (
        <YandexMetrika
          counterId={107232679}
          ecommerce="dataLayer"
          webvisor
          lazy
        />
      )
    }

    <!-- <script is:inline>
      const initTheme = () => {
        const colorTheme = localStorage.getItem("colorTheme");
        if (!colorTheme) {
          if (
            window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: dark)").matches
          ) {
            document.documentElement.classList.add("dark");
            localStorage.setItem("colorTheme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("colorTheme", "light");
          }
        } else {
          if (colorTheme === "dark") {
            document.documentElement.classList.add("dark");
          } else if (colorTheme === "light") {
            document.documentElement.classList.remove("dark");
          } else if (colorTheme === "system") {
            const prefersDark = window.matchMedia(
              "(prefers-color-scheme: dark)"
            ).matches;
            document.documentElement.classList.toggle("dark", prefersDark);
          }
        }
      };

      initTheme();

      document.addEventListener("astro:after-swap", initTheme);
    </script> -->
  </head>
  <body>
    <slot />
  </body>
</html>
