---
import "@fontsource/wix-madefor-display";
import { YandexMetrika } from "astro-ym";
import { Seo } from "astro-seo-meta";
import { Font } from "astro:assets";
import "./styles.css";

const title = "КодКрафт – Школа программирования";
const description =
  "Курсы по Python, C#, Scratch, web-разработке и гейм-разработке для детей и взрослых.";

const keywords = [
  "кодкрафт",
  "школа программирования",
  "курсы программирования",
  "Python",
  "JavaScript",
  "дети",
  "web-разработка",
  "робототехника"
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <Font cssVariable="--font-wix" preload />

    <Seo
      title={title}
      description={description}
      keywords={keywords}
      icon="/favicon.svg"
      robots="index, follow"
    />

    <!-- Яндекс.Вебмастер -->
    <meta name="yandex-verification" content="ef5c375d86ba34a4" />

    <!-- Яндекс.Метрика -->
    {
      import.meta.env.PROD && (
        <YandexMetrika
          counterId={107232679}
          ecommerce="dataLayer"
          webvisor
          lazy
        />
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
