---
import ChevronLeftIcon from "@lucide/astro/icons/chevron-left";
import type { ComponentProps } from "astro/types";
import { cn } from "@/shared/utils/cn";
import { Button } from "../button";

type Props = ComponentProps<typeof Button>;

const {
  class: className = "",
  variant = "outline",
  size = "icon",
  ...rest
} = Astro.props;
---

<Button
  variant={variant}
  size={size}
  class={cn(
    "starwind-carousel-previous absolute size-8 rounded-full group-data-[axis=x]/carousel:top-1/2 group-data-[axis=x]/carousel:-left-12 group-data-[axis=x]/carousel:-translate-y-1/2 group-data-[axis=y]/carousel:-top-12 group-data-[axis=y]/carousel:left-1/2 group-data-[axis=y]/carousel:-translate-x-1/2 group-data-[axis=y]/carousel:rotate-90",
    className
  )}
  aria-label="Previous slide"
  {...rest}
  data-slot="carousel-previous"
>
  <slot name="icon">
    <ChevronLeftIcon />
  </slot>
  <slot>
    <span class="sr-only">Previous slide</span>
  </slot>
</Button>
