---
import { Dialog, DialogContent, DialogTitle } from "@/shared/ui/dialog";
import AbstractBackground from "@/shared/assets/abstract-bg.webp";
import CallbackForm from "./callback-form.svelte";
import { Image } from "astro:assets";
import KodKraftMiniLogo from "@/shared/assets/mini-logo.svg";
---

<Dialog id="callback-dialog">
  <DialogContent
    class="border-none p-3 text-foreground sm:max-w-md sm:p-0 md:max-w-4xl"
  >
    <div class="grid grid-cols-1 p-3 md:h-160 md:grid-cols-2">
      <div class="relative hidden size-full overflow-hidden md:block">
        <Image
          alt=""
          src={AbstractBackground}
          aria-hidden="true"
          class="size-full rounded-sm object-cover select-none"
        />

        <KodKraftMiniLogo class="absolute top-6 left-8 h-9 fill-white" aria-hidden="true" />

        <div class="absolute bottom-0 p-8 text-white">
          <span class="block pb-2">Попробуйте уже завтра</span>

          <span class="text-2xl font-extrabold">
            Узнайте как проходит урок. Первое занятие - бесплатное.
          </span>
        </div>
      </div>

      <div class="items-center justify-center sm:flex sm:p-10">
        <div class="w-full space-y-3">
          <DialogTitle class="font-medium sm:text-3xl">
            Остались вопросы?<br />
            <span class="font-semibold">Оставьте заявку</span>
          </DialogTitle>

          <p class="text-sm text-muted-foreground md:pb-4">
            Расскажем о курсах, формате занятий и стоимости — и подберём
            расписание.
          </p>

          <CallbackForm client:only="svelte" />
        </div>
      </div>
    </div>
  </DialogContent>
</Dialog>
<Dialog id="success-dialog">
  <DialogContent class="text-foreground">
    <div class="flex flex-col gap-3">
      <div class="text-center text-2xl font-medium">Заявка отправлена!</div>
      <div class="text-center text-sm text-muted-foreground">
        Мы свяжемся с вами в ближайшее время.
      </div>
    </div>
  </DialogContent>
</Dialog>
