---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/shared/utils/cn";

type Props = HTMLAttributes<"section">;

const { class: className, ...rest } = Astro.props;
---

<section
  data-slot="section"
  class={cn("mx-auto max-w-7xl w-full my-12 sm:my-16 lg:my-24", className)}
  {...rest}
>
  <slot />
</section>
