---
import SocialTelegramIcon from "@/shared/assets/socials/telegram.svg";
import SocialVKIcon from "@/shared/assets/socials/vk.svg";
import SocialWhatsAppIcon from "@/shared/assets/socials/whatsapp.svg";
import { contacts } from "@/pages-flat/home/config/contacts";
import { Button } from "@/shared/ui/button";
---

<div
  class="mx-auto flex max-w-5xl flex-col gap-12 2xl:grid! 2xl:max-w-none 2xl:grid-cols-2"
>
  <div class="w-full overflow-hidden">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A5cb6043765cd1dd343e354dd7aada48b403c0d7156ff04bf170f36d5c42fede2&source=constructor"
      width="672"
      height="336"
      class="mx-auto w-[stretch] rounded-md"
    >
    </iframe>
  </div>

  <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:gap-8">
    <div class="flex flex-col gap-4">
      <div class="text-2xl font-semibold">Контакты</div>

      {
        contacts["phone"] && (
          <div class="space-y-0.5">
            <div class="text-muted-foreground">Номер телефона</div>
            <Button
              href={contacts["phone"].getURI()}
              variant="link"
              class="h-fit p-0 text-base whitespace-normal"
              target="_blank"
            >
              {contacts["phone"].formatNational()}
            </Button>
          </div>
        )
      }

      {
        contacts["email"] && (
          <div class="space-y-0.5">
            <div class="text-muted-foreground">Почта</div>
            <Button
              href={contacts["email"]}
              variant="link"
              class="h-fit p-0 text-base whitespace-normal"
              target="_blank"
            >
              {contacts["email"]}
            </Button>
          </div>
        )
      }
    </div>

    <div class="flex flex-col gap-4">
      <div class="text-2xl font-semibold">Офис</div>

      <div class="space-y-0.5">
        <div class="text-muted-foreground">Адрес</div>
        <Button
          href={contacts["yandexMap"] ?? "#"}
          variant="link"
          class="h-fit p-0 text-base whitespace-normal"
          target="_blank"
        >
          г. Владимир, ул. Чехова, 5 этаж 2
        </Button>
      </div>

      <div class="space-y-0.5">
        <div class="text-muted-foreground">Режим работы</div>
        <div>пн-вс: 9:00 - 21:00</div>
      </div>
    </div>

    <div class="flex flex-col gap-4">
      <div class="text-2xl font-semibold">Социальные сети</div>

      {
        contacts["telegram"] && (
          <Button
            href={contacts["telegram"]}
            variant="link"
            class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
            target="_blank"
          >
            <SocialTelegramIcon class="size-6" />
            Телеграм канал
          </Button>
        )
      }

      {
        contacts["vk"] && (
          <Button
            href={contacts["vk"]}
            variant="link"
            class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
            target="_blank"
          >
            <SocialVKIcon class="size-6" />
            Сообщество Вконтакте
          </Button>
        )
      }

      {
        contacts["whatsapp"] && (
          <Button
            href={contacts["whatsapp"]}
            variant="link"
            class="h-fit w-fit p-0 text-base whitespace-normal has-[>svg]:px-0"
            target="_blank"
          >
            <SocialWhatsAppIcon class="size-6" />
            WhatsApp
          </Button>
        )
      }
    </div>
  </div>
</div>
