---
import Button from "@/shared/ui/button";
import SocialTelegramIcon from "@/shared/assets/socials/telegram.svg";
import SocialVKIcon from "@/shared/assets/socials/vk.svg";
import SocialWhatsAppIcon from "@/shared/assets/socials/whatsapp.svg";
import MailIcon from "@lucide/astro/icons/mail";
---

<footer
  class="flex h-12 w-full items-center justify-between border-t px-4 sm:px-6 lg:px-8"
>
  <span class="text-sm">© 2018-2026 КодКрафт. Все права защищены</span>
  <div class="flex items-center gap-1">
    <Button
      size="icon"
      variant="ghost"
      href="https://vk.com/codecraft33"
      target="_blank"
    >
      <SocialVKIcon class="size-6.5" />
    </Button>
    <Button
      size="icon"
      variant="ghost"
      href="https://t.me/+79209004455"
      target="_blank"
    >
      <SocialTelegramIcon class="size-6.5" />
    </Button>
    <Button
      size="icon"
      variant="ghost"
      href="https://wa.me/79209004455"
      target="_blank"
    >
      <SocialWhatsAppIcon class="size-6.5" />
    </Button>
    <Button
      size="icon"
      variant="ghost"
      href="mailto:codecraft33@mail.ru"
      target="_blank"
    >
      <MailIcon class="size-6.5" />
    </Button>
  </div>
</footer>
