---
import { Lightbox } from "@/shared/ui/lightbox";
import { gallery } from "../config/gallery";
import { cn } from "@/shared/utils/cn";
import { Image } from "astro:assets";
---

<Lightbox
  class="grid grid-cols-2 gap-4 md:grid-cols-4 md:gap-6 [&>*:nth-child(n+6)]:hidden select-none"
>
  {
    gallery.map((image, index) => (
      <a
        data-fancybox="gallery"
        href={image.img.src}
        class={cn("aspect-square", index % 5 === 0 && "col-span-2 row-span-2")}
      >
        <Image
          src={image.img}
          alt={image.alt}
          class="h-full w-full rounded-lg object-cover"
          loading="lazy"
          width={index % 5 === 0 ? 800 : 400}
          height={index % 5 === 0 ? 800 : 400}
        />
      </a>
    ))
  }
</Lightbox>
