---
import { Lightbox } from "@/shared/ui/lightbox";
import { gallery } from "../config/gallery";
import { cn } from "@/shared/utils/cn";
import { Image } from "astro:assets";
---

<Lightbox class="grid gap-6 md:grid-cols-2">
  {
    gallery.slice(0, 8).map((item) => (
      <div
        class={cn({
          "grid grid-cols-2 gap-6": item.type === "grid"
        })}
      >
        {item.images.map((image) => (
          <a data-fancybox="gallery" href={image.src.src}>
            <Image
              src={image.src}
              alt={image.alt}
              class="h-full w-full rounded-lg object-cover"
              loading="lazy"
            />
          </a>
        ))}
      </div>
    ))
  }
</Lightbox>
