---
import { cn } from "@/shared/utils/cn"
import type { HTMLAttributes } from "astro/types"

type Props = Omit<HTMLAttributes<"h2">, "id"> & {
  /**
   * The content to be rendered inside the dialog title
   */

  children: any
}

const { class: className, ...rest } = Astro.props
---

<h2
  class={cn(
    "font-heading text-xl leading-none font-semibold tracking-tight",
    className
  )}
  data-slot="dialog-title"
  {...rest}
>
  <slot />
</h2>
